@import '~antd/dist/antd.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --clr-dark: #685641;
  --clr-accent: #cabcab;
  --clr-light: #edebe8;
  --clr-backgroundLight: #f8f9fa !important;
  --clr-blue: #2596be;
  --clr-red: #a94230;

  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Roboto', sans-serif !important;
}

@media (min-width: 30em) {
  :root {
    font-size: calc(0.75rem + ((1vw - 0.3rem) * 0.625));
    min-height: 0vw;
  }
}
@media (min-width: 70em) {
  :root {
    font-size: 1rem;
  }
}

.section {
  margin: 0 5vw;
}

.sub-title {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--clr-dark);
}

p {
  color: var(--clr-accent);
}

h3,
h2,
h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--clr-accent);
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
