@media (min-width: 30em) {
  :root {
    font-size: calc(0.75rem + ((1vw - 0.3rem) * 0.625));
    min-height: 0vw;
  }
}

@media (min-width: 110em) {
  :root {
    font-size: 1.25rem;
  }
}

body {
  margin: 0;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
}
